In [1]:
a = [1,2,3]

# If Else

In [2]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

# Match

In [3]:
test = 'Hello'
match test :
    case 'Hello':
        print('Hellow')
    case 'World':
        print('Warudo')

Hellow

In [4]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [5]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [7]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damage):
    # match...
    match attack_type :
        case '물리공격' | '마법공격' :
            print(attack_type + ': ' + str(damage) + '의 데미지 입혔습니다'),
        case '정신공격':
            print(damage + 'ms 만큼 상대방이 혼란을 느낍니다.')


attack('물리공격', 100) # 물리공격, # 마법공격, # 정신공격

# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격 : '100의 데미지 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

물리공격: 100의 데미지 입혔습니다

# 반복문

In [8]:
for x in 'hello' : # 순회 가능한 객체가 들어갑니다
    print(f'현재 값은 {x} 입니다')

현재 값은 h 입니다
현재 값은 e 입니다
현재 값은 l 입니다
현재 값은 l 입니다
현재 값은 o 입니다

In [9]:
for x in (1,2,3,4,5):
    print(f'현재 값은 {x} 입니다')

현재 값은 1 입니다
현재 값은 2 입니다
현재 값은 3 입니다
현재 값은 4 입니다
현재 값은 5 입니다

# __iter__

In [11]:
# 1부터 시작해서 5까지 값이 어떻게 들어가는걸까요 ?
x = iter('hello')
print(x)

<str_ascii_iterator object at 0x107a78130>

In [12]:
print(next(x))

h

In [13]:
print(next(x))

e

In [14]:
print(next(x))

l

In [15]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k) # 반복문 조건에서 기본적으로 key 를 가져옴

하나
둘
셋

In [16]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k} : {v}')

하나 : one
둘 : two
셋 : three

In [17]:
for k in d :
    print(k, ':', d[k], sep=' ')

하나 : one
둘 : two
셋 : three

In [18]:
[range(10), range(100)]

[range(0, 10), range(0, 100)]

In [19]:
# 중첩 for 를 조금 어렵게 표현
for i in [range(3), range(5), range(7)]:
    for j in i:
        print(j)

0
1
2
0
1
2
3
4
0
1
2
3
4
5
6

In [20]:
for i in [range(3),range(5),range(7)]:
    print(i)

range(0, 3)
range(0, 5)
range(0, 7)

In [21]:
# 구구단 출력
for i in range(2,10):
    for j in range(1,10):
        print(i,j, i*j)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [22]:
# 구구단 출력
for i in range(2,10):
    for j in range(1,10):
        print(i,j, i*j)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [23]:
# 문제 1
# for 중첩 2번 해야합니다
# 다음과 같은 문자열이 있습니다
# s = '135678'
# 이 때 구구단 1단, 3단, 5단, 6단, 7단, 8단 을 출력하는 코드를 만들어주세요
s = '135678'
for i in s:
    for j in range(1, 10):
        print(i, j, int(i)*j)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72

In [24]:
s = '135678'
list(s)

['1', '3', '5', '6', '7', '8']